@font-face {
  font-family: "roboto", Verdana, Tahoma, sans-serif;
  src: url(/fonts/RobotoCondensed-Regular.ttf);
}

:root {
  --navBarBackground: #000000;
  --siteBackground: #1a1a1a;
  --pageBackground: rgba(0, 0, 0, 0.9);
  --contentTextColor: #ffffff;
  --navTextColor: #ffffff;
  --headingText: #0fc8a5;
  --eventBox: linear-gradient(to right, #0fc8a5, black);
  --visitBoxBackground: #000000;
  --buttonBackground: #0fc8a5;
  --buttonText: #000000;
  --clickableLinks: #0fc8a5;
}

/*======================================================================
========================================================================
Table of Content:

======
Mobile
======
1. Global Values

2. Nav Bar

3. Landing Page

=======
Desktop
=======
1d. Desktop Nav Bar

2d. Desktop Landing Page



========================================================================
========================================================================*/

/*==============
1. Global Values
================*/
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", Verdana, Tahoma, sans-serif;
  background-color: var(--siteBackground);
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.navigation-buttons {
  color: var(--buttonText);
  background-color: var(--buttonBackground);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.2rem;
}

/*==============
2. Nav Bar
================*/
header {
  position: fixed;
  width: 100%;
}

.logo-link-container {
  height: 70px;
  width: 100%;
  background-color: var(--navBarBackground);
  color: var(--navTextColor);
  display: flex;
  font-weight: 800;
  text-align: center;
  justify-content: space-between;
}

.home-logo-link {
  display: flex;
  gap: 40px;
}

.home-logo-link p {
  color: var(--navTextColor);
}

.nav-container {
  display: none;
}

.hamburger-menu-elements {
  padding: 0;
}

.hamburger-menu-elements a {
  padding: 0;
  margin-top: 50px;
  color: var(--contentTextColor);
}

.hamburger-menu-elements li {
  font-size: 2rem;
  margin-block: 40%;
}

.hamburger-menu-elements ul {
  margin-top: 200px;
}

#burger-check {
  display: none;
}

.burger-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

#burger-check:checked ~ .nav-container {
  background-color: var(--navBarBackground);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 1200px;
  z-index: 1;
}

/*==============
3. Landing Page
================*/
.home-section-1 {
  background-image: url(/images/pexels-pixabay-459475.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 70px;
}

.home-section-1 h1 {
  color: var(--headingText);
  text-align: center;
  font-size: 2rem;
}

.home-section-1 p {
  color: var(--contentTextColor);
  text-align: center;
  padding-inline: 20px;
  font-size: 1.2rem;
}

.home-section-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 20px;
}

.home-section-2-article {
  display: flex;
  flex-direction: column;
  height: 300px;
  max-width: 325px;
}

.home-section-2-article-image-1 {
  background-image: url(/images/samuel-zeller-158996.webp);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.home-section-2-article-image-2 {
  background-image: url(/images/skeleton-414543_1920.webp);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.home-section-2-article-image-3 {
  background-image: url(/images/learn-2405206_1920.webp);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.home-section-2-article h2 {
  margin: 0;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--headingText);
}

.home-section-2-article p {
  color: var(--contentTextColor);
  margin-top: 5px;
}

.button-position {
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-section {
  padding: 20px;
  background: var(--eventBox);
  color: var(--contentTextColor);
}

.event-article-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.event-date,
.event-header {
  text-decoration: underline;
  font-weight: 800;
}

.event-header {
  font-size: 1.5rem;
  margin: 0;
}

.event-section h4 {
  font-size: 1.2rem;
}

footer {
  min-height: 150px;
}

footer img {
  height: 100px;
}

.footer-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--navBarBackground);
}

.footer-elements a {
  color: var(--contentTextColor);
  font-size: 1.3rem;
}

.footer-background {
  background-image: url(/images/celso-405219.jpg);
  background-position: center;
  background-size: cover;
  min-height: 50px;
}

/*=================
1d. Desktop Nav Bar
===================*/

@media (min-width: 900px) {
  .burger-icon {
    display: none;
  }

  .nav-container {
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .hamburger-menu-elements {
    margin: 0;
  }

  .hamburger-menu-elements li {
    display: inline;
    font-size: 1.5rem;
    margin-inline: 10px;
  }

  .hamburger-menu-elements ul {
    margin: 0;
  }

  /*====================
2d. Desktop Landing Page
========================*/

  .home-section-1 p {
    padding-inline: 20%;
  }

  .event-article-wrapper {
    flex-wrap: nowrap;
  }

  .home-section-2-article {
    min-width: 350px;
  }
}
