@font-face {
  font-family: "roboto", Verdana, Tahoma, sans-serif;
  src: url(/fonts/RobotoCondensed-Regular.ttf);
}

:root {
  --navBarBackground: #000000;
  --contentTextColor: #000000;
  --navTextColor: #ffffff;
  --eventsBar: #0fc8a5;
  --locationBox: #0fc8a5;
  --admissionBox: #0bc2d4;
  --headingText: #0fc8a5;
}

/*======================================================================
========================================================================
Table of Content:

======
Mobile
======
1. Global Values

2. Nav Bar



========================================================================
========================================================================*/

/*==============
1. Global Values
================*/

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "roboto", Verdana, Tahoma, sans-serif;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--headingText);
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/*==============
2. Nav Bar
================*/

.logo-link-container {
  height: 70px;
  width: 100%;
  background-color: var(--navBarBackground);
  color: var(--navTextColor);
  display: flex;
  font-weight: 800;
  text-align: center;
  justify-content: space-between;
}

.home-logo-link {
  display: flex;
  gap: 40px;
}

.home-logo-link p {
  color: var(--navTextColor);
}

.nav-container {
  display: none;
}

.hamburger-menu-elements {
  padding: 0;
  margin-top: 50px;
}

.hamburger-menu-elements li {
  font-size: 2rem;
  margin-block: 40%;
}

.hamburger-menu-elements ul {
  margin-top: 200px;
}

#burger-check {
  display: none;
}

.burger-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

#burger-check:checked ~ .nav-container {
  background-color: var(--navBarBackground);
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

/*==============
3. Landing Page
================*/
